<?xml version="1.0"?>
<robot name="simple_panda">

  <link name="panda_link0">
    <visual>
      <geometry>
        <cylinder length="0.1" radius="0.1"/>
      </geometry>
      <material name="gray">
        <color rgba="0.7 0.7 0.7 1"/>
      </material>
    </visual>
  </link>

  <link name="panda_link1">
    <visual>
      <geometry>
        <cylinder length="0.3" radius="0.05"/>
      </geometry>
      <material name="blue">
        <color rgba="0.1 0.1 0.8 1"/>
      </material>
    </visual>
  </link>

  <joint name="joint1" type="fixed">
    <parent link="panda_link0"/>
    <child link="panda_link1"/>
    <origin xyz="0 0 0.2" rpy="0 0 0"/>
  </joint>

</robot>

