<?xml version="1.0"?>
<launch>
    <!-- Launch Gazebo simulation with Panda robot -->
    <!-- This assumes you have panda_gazebo package installed -->
    
    <arg name="world_name" default="worlds/empty.world"/>
    <arg name="paused" default="false"/>
    <arg name="gui" default="true"/>
    
    <!-- Start Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name" value="$(arg world_name)"/>
        <arg name="paused" value="$(arg paused)"/>
        <arg name="gui" value="$(arg gui)"/>
    </include>
    
    <!-- Spawn Panda robot -->
    <!-- TODO: Add Panda robot spawn configuration -->
    <!-- Example:
    <include file="$(find panda_gazebo)/launch/panda_world.launch"/>
    -->
    
    <!-- Spawn blocks in simulation -->
    <!-- TODO: Add block spawning configuration -->
    
    <!-- Spawn camera in simulation -->
    <!-- TODO: Add camera configuration -->
    
    <param name="robot_description" command="$(find xacro)/xacro $(find franka_description)/robots/panda/panda.urdf.xacro"/>
    
    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" 
          args="-param robot_description -urdf -model panda"/>
    
</launch>
